Repository slacktracer/vvw: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "eslint --cache --fix",
  "*.{css,js,json,md,ts,vue,yml}": "prettier --write"
}

Now with some README content!
  README.md
Due: prettier --write

Fixing some README links.
  README.md
Due: prettier --write

Babel configuration is not the same for source code and project code.
  .babelrc
  src/.babelrc
Due: none

Writing CircleCI config YAML from a template.
  .circleci/config.yml.template
  config/writeCircleCIConfigYAML.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

A lot more README!
  README.md
Due: prettier --write

Adding audit step. Test!
  .circleci/config.yml.template
Due: none

Fixed template and audit script.
  .circleci/config.yml.template
  package.json
Due: prettier --write

Moving tests out of source.
  cypress.json
  jest.config.json
  tests/end-to-end/cypress/integration/something.spec.js
  tests/end-to-end/cypress/plugins/index.js
  tests/end-to-end/cypress/support/commands.js
  tests/end-to-end/cypress/support/index.js
  tests/unit/jest/home.test.ts
Due: eslint --cache --fix, prettier --write

Using a ui folder for vue files.
  src/about/ui/about.vue
  src/app/routers/main.ts
  src/app/stores/main.ts
  src/app/ui/app.vue
  src/home/ui/home.vue
  src/main.ts
Due: eslint --cache --fix, prettier --write

WebStorm go!
  .gitignore
Due: none

Tomorrow is the day! Even better README! README!
  README.md
Due: prettier --write

WebStorm messed a bit with my README. Maybe. I don't know. I don't like it. ¬¬
  README.md
Due: prettier --write

It is .browserslist and not .browserlist.
  .browserlistrc
  .browserslistrc
Due: none

Showing an async function working.
  src/main.ts
Due: eslint --cache --fix, prettier --write

Tiny improvements to README.
  README.md
Due: prettier --write

Upgrading dependencies. 0 vulnerabilities.
  package-lock.json
  package.json
Due: prettier --write

Favicon.
  src/android-chrome-192x192.png
  src/android-chrome-512x512.png
  src/apple-touch-icon.png
  src/favicon-16x16.png
  src/favicon-32x32.png
  src/favicon.ico
  src/index.html
  src/site.webmanifest
Due: none

v1.1.0
  package.json
Due: prettier --write

Using alias instead of relative paths for source and tests. Also:
  build/base.configuration.js
  jest.config.json
  src/app/routers/main.ts
  src/home/components/hello-world.vue
  src/home/services/something.ts
  src/home/ui/home.vue
  src/index.html
  src/site.webmanifest
  src/tsconfig.json
  tests/unit/jest/home.test.ts
Due: eslint --cache --fix, prettier --write

Added BootstrapVue for demoing purposes. =)
  package-lock.json
  package.json
  src/about/about.vue
  src/about/ui/about.vue
  src/app/app.vue
  src/app/routers/main.ts
  src/app/ui/app.vue
  src/home/assets/chuttersnap-UmftXwTd8Q4-unsplash.jpg
  src/home/assets/logo.png
  src/home/components/hello-world.vue
  src/home/home.vue
  src/home/services/something.ts
  src/home/ui/home.vue
  src/main-navbar/main-navbar.vue
  src/main.ts
Due: eslint --cache --fix, prettier --write

Fixing image paths. Alias were not working properly for them.
  src/home/home.vue
  src/main-navbar/main-navbar.vue
Due: eslint --cache --fix, prettier --write

Using recommended Vue rules and styles. And pleasing the almighty TS compiler.
  package-lock.json
  package.json
  src/.eslintrc.json
  src/about/about.vue
  src/app/app.vue
  src/app/routers/main.ts
  src/home/components/hello-world.vue
  src/home/home.vue
  src/main-navbar/main-navbar.vue
  src/main.ts
Due: eslint --cache --fix, prettier --write

Minor fix-ishes.
  src/about/about.vue
  src/android-chrome-192x192.png
  src/android-chrome-512x512.png
  src/apple-touch-icon.png
  src/favicon-16x16.png
  src/favicon-32x32.png
  src/favicon.ico
  src/home/assets/chuttersnap-UmftXwTd8Q4-unsplash.jpg
  src/home/assets/mekano-big-screenRS.jpg
  src/home/home.vue
  src/main-navbar/assets/rsz_mekano-big-screenrs.jpg
  src/main-navbar/main-navbar.vue
Due: eslint --cache --fix, prettier --write

Using spec instead of test.
  jest.config.json
  tests/unit/jest/home.spec.ts
Due: eslint --cache --fix, prettier --write

Consolidating some style stuff.
  README.md
  src/.eslintrc.json
  src/about/about.vue
  src/home/home.vue
  src/home/services/something.ts
  src/main-navbar/main-navbar.vue
Due: eslint --cache --fix, prettier --write

Typo!
  README.md
Due: prettier --write

Safe-ish package updates.
  package-lock.json
  package.json
Due: prettier --write

Now with composition API! \o/
  package-lock.json
  package.json
  src/about/about.vue
  src/about/dummy-data-and-table-configuration.ts
  src/app/app.vue
  src/home/components/hello-world.vue
  src/home/home.vue
  src/main-navbar/main-navbar.vue
  src/main.ts
Due: eslint --cache --fix, prettier --write

New scripts.
  package.json
Due: prettier --write

Build v1.3.0
  package-lock.json
  package.json
Due: prettier --write

Build v1.4.0
  package-lock.json
  package.json
Due: prettier --write
